<div id="div1" class="container">
		<h1>Ever had to deal with this mess?</h1>
</div>

<div id="div2" class="container">	
	<%= image_tag "captcha.jpg" %>
</div>

<div id="div3" class="container">
	<h1>Try this instead.</h1>
	<h1>INSERT DEMO</h1>
</div>

<div id="div4" class="container">
	<h1>Signup to make your sites suck less.</h1>

	<%= button_to "Uncaptcha Me", new_user_path, method: "get" %>

</div>
