<div id="div1" class="container">
		<h1>Ever had to deal with this mess?</h1>
</div>

<div id="div2" class="container">	
	<%= image_tag "captcha.jpg" %>
</div>

<div id="div3" class="container">
	<h1>Sucks, right?</h1>
</div>

<div id="div4" class="container">
	<h1>Try this.</h1>
	<h1>INSERT DEMO</h1>
</div>

<div id="div5" class="container">
	<h1>Signup to make your sites suck less.</h1>
	
	<form action="#">
		<label for="email">Email:</label>
		<input type="email" action="#" method="POST" id="email">
		<label for="password">Password:</label>
		<input type="password" action="#" method="POST" id="password">
	</form>

</div>
