@import 'bourbon', 'neat';

$white: #fff;

$active_blue: #40a6ff;
$active_green: #80ff40;
$active_yellow: #ffec40;
$active_red: #ff5040;
$active_purple: #af40ff;
$font-color: #f5f5f5;

body {
  font: 300 16px/1.6 "Source Sans Pro", $helvetica;
  margin: 0;
}

section {
  width: 100%;
  padding: 8rem;
}

.container {
  @include outer-container;
  @include clearfix;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  line-height: 1.1;
}

.recaptcha-image {
  border-radius: 0.6rem;
  max-width: 20rem;
  float: right;
}

.column, .columns {
  min-height: 1px;
  @for $n from 1 through 12 {
    &.span-#{$n} {
      @include span-columns($n);
    }
  }
  &.centered {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}