@import 'setup';

h3 {
  font-size: 1.618rem;
}

h3.lede {
  margin-top: 1rem;
}

#second {
  background: darken($white, 5);
}

#third {
  background: darken($white, 10);
}

button, .button {
  @include transition(0.5s);
  background-color: #232323;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: $active_purple;
  }
}


input {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font: inherit;
  font-size: 1.15rem;
  border-radius: 0.3rem;
  border: none;
  margin-right: 15px;
  border: 0.1rem solid darken($white, 5);
  margin-top: 0.8rem;
  &:focus {
    outline: none;
  }
  &[type="submit"] {
    @extend button;
  }
  &.block {
    display: block;
    width: 100%;
  }
}

div .span-12 {
  margin-top: 2rem;
 }

